:root {
  --netsuite-bg: #403c38;
}

.netsuite_banner {
  background-image: url(/assets/netsuite.svg);
  background-repeat: no-repeat;
  background-size: auto 50px;
  background-position: 99% center;
}

.details.netsuite_banner {
  /* display: flex; */
  /* flex-direction: column; */
  min-height: 42px;
}
.details.netsuite_banner ul {
  /* padding-left: 2rem; */
  font-weight: bold;
}
/*
.details.netsuite_banner span{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.details.netsuite_banner dt{
  min-width: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.details.netsuite_banner dd{
  margin-left: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}

 */

details summary::marker {
  font-size: 0px;
}

nav details summary h3 {
  margin-top: 0px;
}
details summary h3::after {
  content: "+";
  font-size: 20px;
  float: right;
  vertical-align: middle;
}
details[open] summary h3::after {
  content: "-";
}

body{
  padding: 0px;
}

nav{
  padding: 0px 15px;
  background-color: #f8f8f8;
  overscroll-behavior: overlay;
  overflow-y: overlay;
}

nav #nav-search{
  border: 1px solid #e2e2e2;
  outline: none;
}

nav #nav-search:focus{
  border: 1px solid #6d426d;
}

nav li[data-type="method"].active a{
  border-left: 2px solid #6d426d;
  color: hsl(207, 1%, 30%);
}
